version: "3.8"

services:
    fastapi:
        build: 
            context: .
            dockerfile: Dockerfile
        ports:
            - "8000:8000"
        depends_on:
            - db
        environment:
            - DATABASE_URL=postgresql://user:password@db:5432/mydb

    db:
        image: postgres:13
        environment:
            - POSTGRES_USER=user
            - POSTGRES_PASSWORD=password
            - POSTGRES_DB=mydb
        ports:
            - "5432:5432"